.container-flex {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('img/background.jpg')
}

.question-footer {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid rgba(0,0,0,0.25);
    align-items: center;
    padding-top: 12px;
}

.question-card {
    width: 550px;
    border-radius: 20px;
}

.quiz-color:hover {
    cursor: pointer;
    background-color: rgba(211,211,211,0.5)
}

.text-center {
    text-align: center;
}

.button-row {
    display: flex;
    justify-content: center;
    margin-top: 24px;
}

.progress-bar-style {
    height: 50px;
    border-radius: 0px;
}

.quiz-img-height {
    height: 250px;
    width: 250px;
    object-fit: contain;
    margin: auto;
}

.quiz-finish {
    font-size: 26px;
}

.progress-background{
    background-color: rgb(16, 79, 131);
}

.no-pointer {
    pointer-events: none;
    opacity: 0.95;
}

@media (max-width: 400px) {
    .container-flex {
        width: 100%;
        height: 100%;
        background-color: transparent;
    }

    .question-card {
        border-radius: 0;
    }

    .progress-bar-style {
        height: 20px;
    }

    .quiz-img-height {
        height: 200px !important;
        width: 200px !important;
        object-fit: contain;
        margin: auto;
    }
}
@media (max-width: 875px) {
    .container-flex {
        width: 100%;
        height: 100%;
        background-color: transparent;
    }

    .question-card {
        border-radius: 0;
    }

    .progress-bar-style {
        height: 20px;
    }

    .quiz-img-height {
        height: 300px;
        width: 300px;
        object-fit: contain;
        margin: auto;
    }

    .full-screen-media {
        width: 100vw !important;
        height: 100vh !important;
    }

}
